<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" type = "text/css" href="./theButton.css">
    <title>Document</title>
</head>
<body>
    <div class="container h-100">
        <h3 class="display-1 text-center my-auto">Something not good!</h3>
    </div>
</body>
</html>