<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The button</title>
	<link rel = "stylesheet" type = "text/css" href="./theButton.css">
	<script src="./bundle.js"></script>
</head>
<body>
	<div id="backgroundSection">
		<div class="dark-overlay">		
			<div class="container text-center my-auto" style="margin-top:50px;height: 100px; width:700px">

				<legend class="display-3 text-light" style="margin-top:30%"> Click the button</legend>

				<div class="innercontainer h-100 m-5 d-flex flex-row  justify-content-around">
					<button id="thebutton" class="btn btn-success btn-lg">Click Me</button>
				</div>
				<legend id="counter" class="w-100 display-3 text-light"> Counter: {{currentcount}}</legend>
				<p id="counterSubtext" class="lead text-white">It was last clicked {{dateInital.value}} {{dateInital.name}} ago from {{loc}}.</p>

			</div>
		</div>
	</div>

</body>
</html>	