<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The button</title>
	<link rel = "stylesheet" type = "text/css" href="./theButton.css">
	<script src="./bundle.js"></script>
</head>
<body>
	<div id="backgroundSection">
		<div class="dark-overlay">		
			<div class="container text-center my-auto" style="margin-top:50px;height: 100px;"">

				<legend class="display-3 text-light" style="margin-top:30%"> For or Against? </legend>

				<div class="innercontainer m-5 d-flex flex-row  justify-content-sm-center justify-content-between">
					<button id="forButton" style="min-width: 100px" class="btn btn-success btn-lg w-25 m-3">For</button>
					<button id="againstButton"  style="min-width: 100px" class="btn btn-danger btn-lg w-25 m-3">Against</button>
				</div>
				<legend id="counter" class="w-100 display-3 text-light"> Total: {{currentcount}}</legend>
				<p id="counterSubtext" class="lead text-white">Last vote occured {{dateInital.value}} {{dateInital.name}} ago from {{loc}}.</p>

			</div>
		</div>
	</div>
	

	<footer id="main-footer" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="py-4">
						<p>Real Time Voting &copy; 2017</p>
						
					</div>
				</div>
			</div>
		</div>
	</footer>



</body>
</html>	