<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The button</title>
	<link rel = "stylesheet" type = "text/css" href="./bootstrap/bootstrap.min.css">
	<script src="./bundle.js"></script>
</head>
<body>

	<div class="container text-center my-auto" style="margin-top:50px;height: 100px; width:400px">
	
			<legend class="display-3" style="margin-top:50%"> Click the button</legend>

			<div class="innercontainer h-100 m-5 d-flex flex-row  justify-content-around">
				<button id="thebutton" class="btn btn-success btn-lg">Click me</button>
			</div>

			<legend id="counter" class="display-3"> Counter: ?</legend>

	</div>
		

</body>
</html>	