@import "bootstrap/bootstrap.min.css";

#backgroundSection{
	background:url('./background.png') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	min-height:850px;

}

.dark-overlay{
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-height:850px;
}
